/*Tile: Color Me Silly(Home Screen)*/

@font-face {
    font-family: bungee;
    src: url(bungee_shade2/bungeeshade-regular-webfont.woff);
    font-weight: bold;
    font-style: normal;

}

.p1 {
    font-size: 50px;
    line-height: 55px;
    font-family: bungee;
    text-align: center;
    top:20;
    position: relative;
    color:white;
}

/*Sub-Title: Welcome to the game of color combinations(Home Screen)*/

@font-face {
    font-family: bungee;
    src: url(bungee_shade2/bungeeshade-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

.p2 {
    font-size: 30px;
    line-height: 35px;
    font-family: bungee;
    text-align: center;
    position: relative;
    text-decoration: underline white 10px; 
    color:white;
}

/*Information on Color Theory(Home Screen)*/

@font-face {
    font-family: koulen;
    src: url(KoulenFont/koulen-regular-webfont.woff);
    font-weight: normal;
    font-style: normal;
}

.p3 { 
    font-size: 20px;
    line-height: 25px;
    font-family: koulen;
    text-align: center;
    top: 60;
    position: relative;
    color:white;
}


/*ButtonsHomeScreen*/

@font-face {
    font-family: modak;
    src: url(ModakFont/modak-regular-webfont.woff);
    font-weight: normal;
    font-style: bold;
}

.button1 {
    background-color: blue;
    border: none;
    color:white;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    font-size: 30px;
    font-family:koulen;
    border-radius: 10px;
    height: 75px;
    width: 200px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    top: 85;
    position: relative;
    align-items: center;
}

.button1:hover {background-color:black}

.button1:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.button2 {
    background-color: green;
    border: none;
    color:white;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    font-size: 30px;
    font-family:koulen;
    border-radius: 10px;
    height: 75px;
    width: 200px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 90;
    align-items: center;
}

.button2:hover {background-color:black}

.button2:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.button3 {
    background-color:red;
    border: none;
    color:white;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    font-size: 30px;
    font-family:koulen;
    border-radius: 10px;
    height: 75px;
    width: 200px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 94;
    align-items: center;
}

.button3:hover {background-color:black}

.button3:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*GameSelectionScreen Buttons and Text*/


.f1 {
    font-size: 45px;
    line-height: 55px;
    font-family: bungee;
    text-align: center;
    top:20;
    position: relative;
    color:white;
}

.button4 {
    background-color: blue;
    border: none;
    color:white;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 50px;
    font-family: koulen;
    border-radius: 10px;
    height: 125px;
    width: 275px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    margin-top: 4.75%;
    align-items: center;
}

.button4:hover {background-color:black}

.button4:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.button5 {
    background-color: green;
    border: none;
    color:white;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 50px;
    font-family: koulen;
    border-radius: 10px;
    height: 125px;
    width: 275px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    margin-top: 4.75%;
    align-items: center;

}

.button5:hover {background-color:black}

.button5:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*Level1 Text*/


.l1 {
    font-size: 30px;
    line-height: 35px;
    font-family: bungee;
    text-align: center;
    position: relative; 
    color:white;
    top: 10;
}

.l2 { 
    font-size: 20px;
    line-height: 25px;
    font-family: koulen;
    text-align: left;
    top: 20;
    position: relative;
    color:white;
}

/*Game Selection Screen HomeButton*/ 
.homebutton1 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    margin-top: 10%;
    align-items: center;
    float: left;
}

/*HomeButtonLevel1*/ 
.homebutton7 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    margin-top: 2%;
    align-items: center;
    float: left;
}




/*HomeButtonLevel2*/ 
.homebutton2 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: left;
    top: 29.5;
}

/*HomeButtonPrimaryColors*/
.homebuttonprimary {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: left;
    top: 127;
}

/*HomeButtonSecondaryColors*/
.homebuttonsecondary {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: left;
    top: 127;
}

/*HomeButtonTertiaryColors*/
.homebuttontertiary {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: left;
    top: 128;
}

/*HomeButtonGameSelectionScreen*/
.homegameselectionscreen{
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align:middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: left;
    top: 190;
}


/*NEXTLEVELBUTTON*/

.nextlevel2 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: right;
    top: 127;
}

/*NEXTLEVELFORLEVEL1*/

.nextlevel3 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: right;
    top: 29.5;
}


/*NEXTLEVELFORLEVEL2*/

.nextlevel4 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: right;
    top: 29.5;
}

/*Guide*/
.g1 {
    font-size: 30px;
    line-height: 35px;
    font-family: bungee;
    text-align: center;
    position: relative;
    text-decoration: underline white 10px; 
    color:white;
    margin-top: 7.5%;
}

.g2 {
    font-size: 30px;
    line-height: 35px;
    font-family: bungee;
    text-align: center;
    position: relative;
    text-decoration: underline white 10px; 
    color:white;
    margin-top: 8%;
}

.homebuttonguide {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    top: 200px;
    align-items: center;
    float: left;
    top: 83;
}


/*scoreboardmatching*/

.q2 { 
    font-size: 30px;
    line-height: 25px;
    font-family: koulen;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: -3%;
    position: relative;
    color:ivory;
}

.q3 { 
    font-size: 30px;
    line-height: 25px;
    font-family: koulen;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    margin-top: 0%;
    position: relative;
    color:ivory;
}


/*Restart Button for P,S,T Levels*/
.restart1 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    align-items: center;
    left: 39%;
    margin-top: 8.6%;
}

.restart2 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    align-items: center;
    left: 39%;
    margin-top: 8.6%;
}

.restart3 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    align-items: center;
    left: 38.5%;
    margin-top: 8.7%;
}


/* Home Button Information Screen */
.homebutton9 {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    justify-content: center;
    display: inline-flex;
    font-size: 25px;
    font-family: koulen;
    border-radius: 10px;
    height: 50px;
    width: 115px;
    cursor: pointer;
    border: none;
    vertical-align: middle;
    position: relative;
    margin-top: 20%;
    align-items: center;
    float: left;
}
